<div class="row mb-2">
<% @articles.each do |article| %>

  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0"><%= link_to article.title, article_path(article), action: 'show', class:"titles"%></h3>
        <div class="mb-1 text-muted"><%= article.updated_at %></div>
        <p class="card-text mb-auto"><%= article.text.truncate(140) %></p>

        <div>
        <% if user_signed_in? && current_user.username == article.username %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Delete', article_path(article), method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>


