<h1 class="h3 mb-3 fw-normal">New article</h1>

<%= form_for :article, url: articles_path do |f| %>
  <% if @article && @article.errors.any? %>
    <p>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </p>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, class:"form-label" %>
    <%= f.text_field :title, class:"form-control" %>
  </div>


  <div class="mb-3">
    <%= f.label :text, class:"form-label" %> <br>
    <%= f.text_area :text, class:"form-control", rows:"3" %>
  </div>


  <p>
    <%= f.submit 'Publish', class:"btn btn-primary" %>
  </p>

<% end %>