<h1><%= @article.title %></h1>
<p>
  <%= @article.text %>
</p>
<p>Author: <%= @article.username %></p>
<% if user_signed_in? && current_user.username == @article.username %>
  <%= link_to I18n.t('article.edit'), edit_article_path(@article) %>
  <%= link_to I18n.t('article.delete'), article_path(@article), method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <% end %>
<hr>
<br>

<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="mb-3">
    <%= f.label I18n.t('article.your_comments'), class:"form-label" %>
    <%= f.text_area :body, class:"form-control", rows:"3" %>
  </div>

  <p>
    <%= f.submit I18n.t('article.create_comment'), class:"btn btn-primary" %>
  </p>
<% end %>
</p>
<br>

<% @article.comments.each do |comment| %>
  <% if comment.id != nil %>
    <p>
      <%= comment.author %> says:
    </p>
    <p>
      <%= comment.body %>
    </p>
    <hr>
  <% end %>
<% end %>
