<h1><%= @article.title %></h1>
<p>
  <%= @article.text %>
</p>
<p>Author: <%= @article.username %></p>
<hr>
<br>

<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="mb-3">
    <%= f.label :'Your comments', class:"form-label" %>
    <%= f.text_area :body, class:"form-control", rows:"3" %>
  </div>

  <p>
    <%= f.submit 'Create comment', class:"btn btn-primary" %>
  </p>
<% end %>
</p>
<br>

<% @article.comments.each do |comment| %>
  <% if comment.id != nil %>
    <p>
      <%= comment.author %> says:
    </p>
    <p>
      <%= comment.body %>
    </p>
    <hr>
  <% end %>
<% end %>
